<p id="notice"><%= notice %></p>

<h1> Products Pen & Notebooks </h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Colour</th>
      <th>Status</th>
      <th>Purchase date</th>
      <th>Type</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= product.colour %></td>
        <td><%= product.status %></td>
        <td><%= product.inward_date %></td>
        <td><%= product.type %></td>
        <td><%= product.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add New Pen ', new_product_path(type: 'Pen') %> |
<%= link_to ' Add New Notebook', new_product_path(type: 'Notebook') %>
